<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Beatties_Automation]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="88c1b2">  <td>19/01/09 15:29:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SubmitOrderFromProductDetailsPageForGuest.CloseBrowser()[pri:0, instance:com.webcorp.ca.ProductDeatailsPage.SubmitOrderFromProductDetailsPageForGuest@4232c52b]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@246399377</td>   <td></td> </tr>
<tr bgcolor="91a895">  <td>19/01/09 15:33:55</td>   <td>257609</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CheckoutHomePageNationalAds.CloseBrowser()[pri:0, instance:com.webcorp.ca.Homepage.CheckoutHomePageNationalAds@305fd85d]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@246399377</td>   <td></td> </tr>
<tr bgcolor="85a3ee">  <td>19/01/09 15:38:48</td>   <td>550790</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CheckOutProcessSearchResultsPage.CloseBrowser()[pri:0, instance:com.webcorp.ca.SearchResultsPage.CheckOutProcessSearchResultsPage@11438d26]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@246399377</td>   <td></td> </tr>
<tr bgcolor="76f99d">  <td>19/01/09 15:39:52</td>   <td>614573</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CheckOutProcess.CloseBrowser()[pri:0, instance:com.webcorp.ca.Homepage.CheckOutProcess@34cd072c]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@246399377</td>   <td></td> </tr>
<tr bgcolor="9687bc">  <td>19/01/09 15:42:10</td>   <td>752573</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;QuickViewAddToCart.CloseBrowser()[pri:0, instance:com.webcorp.ca.SearchResultsPage.QuickViewAddToCart@5faeada1]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@246399377</td>   <td></td> </tr>
<tr bgcolor="e2dbf3">  <td>19/01/09 15:42:57</td>   <td>799851</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;QuickViewCheckoutForGuest.CloseBrowser()[pri:0, instance:com.webcorp.ca.SearchResultsPage.QuickViewCheckoutForGuest@528931cf]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@246399377</td>   <td></td> </tr>
<tr bgcolor="907bac">  <td>19/01/09 15:31:03</td>   <td>86461</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MyfavouritesList.LogOut()[pri:0, instance:com.webcorp.ca.favourites.MyfavouritesList@1877ab81]">&lt;&lt;LogOut</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@246399377</td>   <td></td> </tr>
<tr bgcolor="bed7a6">  <td>19/01/09 15:35:03</td>   <td>325627</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SubmitOrderForRegisterUser.LogOut()[pri:0, instance:com.webcorp.ca.QuickOrderForm.SubmitOrderForRegisterUser@458c1321]">&lt;&lt;LogOut</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@246399377</td>   <td></td> </tr>
<tr bgcolor="b98f6a">  <td>19/01/09 15:41:07</td>   <td>690348</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MyfavouriteDetails.LogOut()[pri:0, instance:com.webcorp.ca.favourites.MyfavouriteDetails@7a1ebcd8]">&lt;&lt;LogOut</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@246399377</td>   <td></td> </tr>
<tr bgcolor="976963">  <td>19/01/09 15:46:14</td>   <td>996568</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AddToFavourites.LogOut()[pri:0, instance:com.webcorp.ca.favourites.AddToFavourites@ea1a8d5]">&lt;&lt;LogOut</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@246399377</td>   <td></td> </tr>
<tr bgcolor="f8bee4">  <td>19/01/09 15:47:16</td>   <td>1059110</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;QuickViewCheckoutForRegister.LogOut()[pri:0, instance:com.webcorp.ca.SearchResultsPage.QuickViewCheckoutForRegister@1563da5]">&lt;&lt;LogOut</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@246399377</td>   <td></td> </tr>
<tr bgcolor="88c1b2">  <td>19/01/09 15:28:34</td>   <td>-62778</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SubmitOrderFromProductDetailsPageForGuest.OpenBrowser()[pri:0, instance:com.webcorp.ca.ProductDeatailsPage.SubmitOrderFromProductDetailsPageForGuest@4232c52b]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@246399377</td>   <td></td> </tr>
<tr bgcolor="907bac">  <td>19/01/09 15:29:39</td>   <td>1621</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MyfavouritesList.OpenBrowser()[pri:0, instance:com.webcorp.ca.favourites.MyfavouritesList@1877ab81]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@246399377</td>   <td></td> </tr>
<tr bgcolor="91a895">  <td>19/01/09 15:31:12</td>   <td>94779</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CheckoutHomePageNationalAds.OpenBrowser()[pri:0, instance:com.webcorp.ca.Homepage.CheckoutHomePageNationalAds@305fd85d]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@246399377</td>   <td></td> </tr>
<tr bgcolor="bed7a6">  <td>19/01/09 15:33:57</td>   <td>260023</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SubmitOrderForRegisterUser.OpenBrowser()[pri:0, instance:com.webcorp.ca.QuickOrderForm.SubmitOrderForRegisterUser@458c1321]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@246399377</td>   <td></td> </tr>
<tr bgcolor="85a3ee">  <td>19/01/09 15:35:11</td>   <td>334246</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CheckOutProcessSearchResultsPage.OpenBrowser()[pri:0, instance:com.webcorp.ca.SearchResultsPage.CheckOutProcessSearchResultsPage@11438d26]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@246399377</td>   <td></td> </tr>
<tr bgcolor="76f99d">  <td>19/01/09 15:38:50</td>   <td>553154</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CheckOutProcess.OpenBrowser()[pri:0, instance:com.webcorp.ca.Homepage.CheckOutProcess@34cd072c]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@246399377</td>   <td></td> </tr>
<tr bgcolor="b98f6a">  <td>19/01/09 15:40:05</td>   <td>627882</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MyfavouriteDetails.OpenBrowser()[pri:0, instance:com.webcorp.ca.favourites.MyfavouriteDetails@7a1ebcd8]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@246399377</td>   <td></td> </tr>
<tr bgcolor="9687bc">  <td>19/01/09 15:41:15</td>   <td>698287</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;QuickViewAddToCart.OpenBrowser()[pri:0, instance:com.webcorp.ca.SearchResultsPage.QuickViewAddToCart@5faeada1]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@246399377</td>   <td></td> </tr>
<tr bgcolor="e2dbf3">  <td>19/01/09 15:42:12</td>   <td>754484</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;QuickViewCheckoutForGuest.OpenBrowser()[pri:0, instance:com.webcorp.ca.SearchResultsPage.QuickViewCheckoutForGuest@528931cf]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@246399377</td>   <td></td> </tr>
<tr bgcolor="976963">  <td>19/01/09 15:42:58</td>   <td>801435</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AddToFavourites.OpenBrowser()[pri:0, instance:com.webcorp.ca.favourites.AddToFavourites@ea1a8d5]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@246399377</td>   <td></td> </tr>
<tr bgcolor="f8bee4">  <td>19/01/09 15:46:14</td>   <td>996591</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;QuickViewCheckoutForRegister.OpenBrowser()[pri:0, instance:com.webcorp.ca.SearchResultsPage.QuickViewCheckoutForRegister@1563da5]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@246399377</td>   <td></td> </tr>
<tr bgcolor="907bac">  <td>19/01/09 15:30:03</td>   <td>26400</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MyfavouritesList.SignIn()[pri:0, instance:com.webcorp.ca.favourites.MyfavouritesList@1877ab81]">&gt;&gt;SignIn</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@246399377</td>   <td></td> </tr>
<tr bgcolor="bed7a6">  <td>19/01/09 15:34:47</td>   <td>310439</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SubmitOrderForRegisterUser.SignIn()[pri:0, instance:com.webcorp.ca.QuickOrderForm.SubmitOrderForRegisterUser@458c1321]">&gt;&gt;SignIn</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@246399377</td>   <td></td> </tr>
<tr bgcolor="b98f6a">  <td>19/01/09 15:40:35</td>   <td>658265</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MyfavouriteDetails.SignIn()[pri:0, instance:com.webcorp.ca.favourites.MyfavouriteDetails@7a1ebcd8]">&gt;&gt;SignIn</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@246399377</td>   <td></td> </tr>
<tr bgcolor="976963">  <td>19/01/09 15:43:18</td>   <td>820932</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AddToFavourites.SignIn()[pri:0, instance:com.webcorp.ca.favourites.AddToFavourites@ea1a8d5]">&gt;&gt;SignIn</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@246399377</td>   <td></td> </tr>
<tr bgcolor="f8bee4">  <td>19/01/09 15:46:42</td>   <td>1024689</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;QuickViewCheckoutForRegister.SignIn()[pri:0, instance:com.webcorp.ca.SearchResultsPage.QuickViewCheckoutForRegister@1563da5]">&gt;&gt;SignIn</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@246399377</td>   <td></td> </tr>
<tr bgcolor="76f99d">  <td>19/01/09 15:39:10</td>   <td>572683</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CheckOutProcess.test04()[pri:0, instance:com.webcorp.ca.Homepage.CheckOutProcess@34cd072c]">test04</td> 
  <td>main@246399377</td>   <td></td> </tr>
<tr bgcolor="85a3ee">  <td>19/01/09 15:35:47</td>   <td>370433</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CheckOutProcessSearchResultsPage.test08()[pri:0, instance:com.webcorp.ca.SearchResultsPage.CheckOutProcessSearchResultsPage@11438d26]">test08</td> 
  <td>main@246399377</td>   <td></td> </tr>
<tr bgcolor="9687bc">  <td>19/01/09 15:41:36</td>   <td>718636</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="QuickViewAddToCart.test11()[pri:0, instance:com.webcorp.ca.SearchResultsPage.QuickViewAddToCart@5faeada1]">test11</td> 
  <td>main@246399377</td>   <td></td> </tr>
<tr bgcolor="e2dbf3">  <td>19/01/09 15:42:37</td>   <td>779970</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="QuickViewCheckoutForGuest.test12()[pri:0, instance:com.webcorp.ca.SearchResultsPage.QuickViewCheckoutForGuest@528931cf]">test12</td> 
  <td>main@246399377</td>   <td></td> </tr>
<tr bgcolor="f8bee4">  <td>19/01/09 15:46:47</td>   <td>1030111</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="QuickViewCheckoutForRegister.test13()[pri:0, instance:com.webcorp.ca.SearchResultsPage.QuickViewCheckoutForRegister@1563da5]">test13</td> 
  <td>main@246399377</td>   <td></td> </tr>
<tr bgcolor="88c1b2">  <td>19/01/09 15:29:00</td>   <td>-37054</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SubmitOrderFromProductDetailsPageForGuest.test14()[pri:0, instance:com.webcorp.ca.ProductDeatailsPage.SubmitOrderFromProductDetailsPageForGuest@4232c52b]">test14</td> 
  <td>main@246399377</td>   <td></td> </tr>
<tr bgcolor="bed7a6">  <td>19/01/09 15:34:53</td>   <td>315858</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SubmitOrderForRegisterUser.test18()[pri:0, instance:com.webcorp.ca.QuickOrderForm.SubmitOrderForRegisterUser@458c1321]">test18</td> 
  <td>main@246399377</td>   <td></td> </tr>
<tr bgcolor="91a895">  <td>19/01/09 15:31:44</td>   <td>126839</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CheckoutHomePageNationalAds.test22()[pri:0, instance:com.webcorp.ca.Homepage.CheckoutHomePageNationalAds@305fd85d]">test22</td> 
  <td>main@246399377</td>   <td></td> </tr>
<tr bgcolor="976963">  <td>19/01/09 15:43:23</td>   <td>826298</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddToFavourites.test26()[pri:0, instance:com.webcorp.ca.favourites.AddToFavourites@ea1a8d5]">test26</td> 
  <td>main@246399377</td>   <td></td> </tr>
<tr bgcolor="907bac">  <td>19/01/09 15:30:09</td>   <td>31821</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MyfavouritesList.test27()[pri:0, instance:com.webcorp.ca.favourites.MyfavouritesList@1877ab81]">test27</td> 
  <td>main@246399377</td>   <td></td> </tr>
<tr bgcolor="b98f6a">  <td>19/01/09 15:40:41</td>   <td>663622</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MyfavouriteDetails.test28()[pri:0, instance:com.webcorp.ca.favourites.MyfavouriteDetails@7a1ebcd8]">test28</td> 
  <td>main@246399377</td>   <td></td> </tr>
</table>
