<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Beatties_Automation</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="96f0f5">  <td>19/01/09 17:08:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CheckoutHomePageNationalAds.CloseBrowser()[pri:0, instance:com.webcorp.ca.Homepage.CheckoutHomePageNationalAds@523884b2]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>19/01/09 17:11:16</td>   <td>142133</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SubmitOrderFromProductDetailsPageForGuest.CloseBrowser()[pri:0, instance:com.webcorp.ca.ProductDeatailsPage.SubmitOrderFromProductDetailsPageForGuest@3bfdc050]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>19/01/09 17:12:20</td>   <td>206813</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AddToCart.CloseBrowser()[pri:0, instance:com.webcorp.ca.QuickOrderForm.AddToCart@5e3a8624]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="75a3bc">  <td>19/01/09 17:16:51</td>   <td>477697</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CheckOutProcess.CloseBrowser()[pri:0, instance:com.webcorp.ca.Homepage.CheckOutProcess@5b275dab]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="b7bfc0">  <td>19/01/09 17:20:10</td>   <td>676663</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CheckOutProcessSearchResultsPage.CloseBrowser()[pri:0, instance:com.webcorp.ca.SearchResultsPage.CheckOutProcessSearchResultsPage@68c4039c]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="96a48d">  <td>19/01/09 17:23:13</td>   <td>859235</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SubmitOrderForGuest.CloseBrowser()[pri:0, instance:com.webcorp.ca.QuickOrderForm.SubmitOrderForGuest@5c3bd550]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="69b8da">  <td>19/01/09 17:25:05</td>   <td>971360</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ClickAllLinks.CloseBrowser()[pri:0, instance:com.webcorp.ca.Homepage.ClickAllLinks@61832929]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>19/01/09 17:29:21</td>   <td>1227418</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ClickOnAddToCart.CloseBrowser()[pri:0, instance:com.webcorp.ca.Homepage.ClickOnAddToCart@29774679]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="f97bb5">  <td>19/01/09 17:32:35</td>   <td>1421911</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ClickAllCategories.CloseBrowser()[pri:0, instance:com.webcorp.ca.SearchResultsPage.ClickAllCategories@59f99ea]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>19/01/09 17:33:40</td>   <td>1486759</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ClickOnBannerAds.CloseBrowser()[pri:0, instance:com.webcorp.ca.Homepage.ClickOnBannerAds@3ffc5af1]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="bbc1e0">  <td>19/01/09 17:35:39</td>   <td>1605831</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ClickOnFilterByOptions.CloseBrowser()[pri:0, instance:com.webcorp.ca.SearchResultsPage.ClickOnFilterByOptions@27efef64]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="7c74e5">  <td>19/01/09 17:36:18</td>   <td>1644267</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ForgotPassword.CloseBrowser()[pri:0, instance:com.webcorp.ca.Homepage.ForgotPassword@5e5792a0]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="fb9068">  <td>19/01/09 17:37:35</td>   <td>1721646</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Pagination.CloseBrowser()[pri:0, instance:com.webcorp.ca.SearchResultsPage.Pagination@6f7fd0e6]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="85796e">  <td>19/01/09 17:39:03</td>   <td>1809688</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;QuickViewAddToCart.CloseBrowser()[pri:0, instance:com.webcorp.ca.SearchResultsPage.QuickViewAddToCart@47c62251]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="a097cc">  <td>19/01/09 17:39:49</td>   <td>1855363</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;QuickViewCheckoutForGuest.CloseBrowser()[pri:0, instance:com.webcorp.ca.SearchResultsPage.QuickViewCheckoutForGuest@3e6fa38a]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="61f5df">  <td>19/01/09 17:42:33</td>   <td>2019574</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SearchBar.CloseBrowser()[pri:0, instance:com.webcorp.ca.SearchResultsPage.SearchBar@77caeb3e]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="b57a94">  <td>19/01/09 17:44:07</td>   <td>2113653</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SelectQtyForItem.CloseBrowser()[pri:0, instance:com.webcorp.ca.SearchResultsPage.SelectQtyForItem@1e88b3c]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="7be3c5">  <td>19/01/09 17:45:46</td>   <td>2212990</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SortByInSearchResultsPage.CloseBrowser()[pri:0, instance:com.webcorp.ca.SearchResultsPage.SortByInSearchResultsPage@42d80b78]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="b6d4ae">  <td>19/01/09 17:10:23</td>   <td>89412</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ChangingAttributeColor.LogOut()[pri:0, instance:com.webcorp.ca.SearchResultsPage.ChangingAttributeColor@3532ec19]">&lt;&lt;LogOut</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="abef66">  <td>19/01/09 17:15:35</td>   <td>401692</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AddToFavourites.LogOut()[pri:0, instance:com.webcorp.ca.favourites.AddToFavourites@604ed9f0]">&lt;&lt;LogOut</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>19/01/09 17:21:44</td>   <td>770763</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SubmitOrderFromProductDetailsPageForRegister.LogOut()[pri:0, instance:com.webcorp.ca.ProductDeatailsPage.SubmitOrderFromProductDetailsPageForRegister@1bce4f0a]">&lt;&lt;LogOut</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="7996a0">  <td>19/01/09 17:24:10</td>   <td>916135</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MyfavouriteDetails.LogOut()[pri:0, instance:com.webcorp.ca.favourites.MyfavouriteDetails@6a4f787b]">&lt;&lt;LogOut</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="6e8eef">  <td>19/01/09 17:26:34</td>   <td>1060591</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Checkout_Register.LogOut()[pri:0, instance:com.webcorp.ca.SearchResultsPage.Checkout_Register@ae45eb6]">&lt;&lt;LogOut</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>19/01/09 17:27:29</td>   <td>1115213</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SubmitOrderForRegisterUser.LogOut()[pri:0, instance:com.webcorp.ca.QuickOrderForm.SubmitOrderForRegisterUser@91161c7]">&lt;&lt;LogOut</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="dc63ce">  <td>19/01/09 17:28:55</td>   <td>1201518</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MyfavouritesList.LogOut()[pri:0, instance:com.webcorp.ca.favourites.MyfavouritesList@685cb137]">&lt;&lt;LogOut</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="f6e879">  <td>19/01/09 17:41:07</td>   <td>1934022</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;QuickViewCheckoutForRegister.LogOut()[pri:0, instance:com.webcorp.ca.SearchResultsPage.QuickViewCheckoutForRegister@66a3ffec]">&lt;&lt;LogOut</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="97cf78">  <td>19/01/09 17:38:00</td>   <td>1746980</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Login.Logout()[pri:0, instance:com.webcorp.ca.Homepage.Login@26653222]">&lt;&lt;Logout</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="96f0f5">  <td>19/01/09 17:06:24</td>   <td>-149577</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CheckoutHomePageNationalAds.OpenBrowser()[pri:0, instance:com.webcorp.ca.Homepage.CheckoutHomePageNationalAds@523884b2]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="b6d4ae">  <td>19/01/09 17:08:55</td>   <td>1879</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ChangingAttributeColor.OpenBrowser()[pri:0, instance:com.webcorp.ca.SearchResultsPage.ChangingAttributeColor@3532ec19]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>19/01/09 17:10:23</td>   <td>89450</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SubmitOrderFromProductDetailsPageForGuest.OpenBrowser()[pri:0, instance:com.webcorp.ca.ProductDeatailsPage.SubmitOrderFromProductDetailsPageForGuest@3bfdc050]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>19/01/09 17:11:17</td>   <td>143837</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AddToCart.OpenBrowser()[pri:0, instance:com.webcorp.ca.QuickOrderForm.AddToCart@5e3a8624]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="abef66">  <td>19/01/09 17:12:22</td>   <td>208384</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AddToFavourites.OpenBrowser()[pri:0, instance:com.webcorp.ca.favourites.AddToFavourites@604ed9f0]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="75a3bc">  <td>19/01/09 17:15:43</td>   <td>409549</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CheckOutProcess.OpenBrowser()[pri:0, instance:com.webcorp.ca.Homepage.CheckOutProcess@5b275dab]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="b7bfc0">  <td>19/01/09 17:16:53</td>   <td>479243</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CheckOutProcessSearchResultsPage.OpenBrowser()[pri:0, instance:com.webcorp.ca.SearchResultsPage.CheckOutProcessSearchResultsPage@68c4039c]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>19/01/09 17:20:12</td>   <td>678242</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SubmitOrderFromProductDetailsPageForRegister.OpenBrowser()[pri:0, instance:com.webcorp.ca.ProductDeatailsPage.SubmitOrderFromProductDetailsPageForRegister@1bce4f0a]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="96a48d">  <td>19/01/09 17:21:48</td>   <td>774500</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SubmitOrderForGuest.OpenBrowser()[pri:0, instance:com.webcorp.ca.QuickOrderForm.SubmitOrderForGuest@5c3bd550]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="7996a0">  <td>19/01/09 17:23:14</td>   <td>860957</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MyfavouriteDetails.OpenBrowser()[pri:0, instance:com.webcorp.ca.favourites.MyfavouriteDetails@6a4f787b]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="69b8da">  <td>19/01/09 17:24:18</td>   <td>924347</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ClickAllLinks.OpenBrowser()[pri:0, instance:com.webcorp.ca.Homepage.ClickAllLinks@61832929]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="6e8eef">  <td>19/01/09 17:25:08</td>   <td>974178</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Checkout_Register.OpenBrowser()[pri:0, instance:com.webcorp.ca.SearchResultsPage.Checkout_Register@ae45eb6]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>19/01/09 17:26:42</td>   <td>1068565</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SubmitOrderForRegisterUser.OpenBrowser()[pri:0, instance:com.webcorp.ca.QuickOrderForm.SubmitOrderForRegisterUser@91161c7]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="dc63ce">  <td>19/01/09 17:27:37</td>   <td>1123490</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MyfavouritesList.OpenBrowser()[pri:0, instance:com.webcorp.ca.favourites.MyfavouritesList@685cb137]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>19/01/09 17:29:03</td>   <td>1209589</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ClickOnAddToCart.OpenBrowser()[pri:0, instance:com.webcorp.ca.Homepage.ClickOnAddToCart@29774679]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="f97bb5">  <td>19/01/09 17:29:22</td>   <td>1229062</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ClickAllCategories.OpenBrowser()[pri:0, instance:com.webcorp.ca.SearchResultsPage.ClickAllCategories@59f99ea]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>19/01/09 17:32:39</td>   <td>1425710</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ClickOnBannerAds.OpenBrowser()[pri:0, instance:com.webcorp.ca.Homepage.ClickOnBannerAds@3ffc5af1]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="bbc1e0">  <td>19/01/09 17:33:43</td>   <td>1489452</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ClickOnFilterByOptions.OpenBrowser()[pri:0, instance:com.webcorp.ca.SearchResultsPage.ClickOnFilterByOptions@27efef64]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="7c74e5">  <td>19/01/09 17:35:42</td>   <td>1608205</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ForgotPassword.OpenBrowser()[pri:0, instance:com.webcorp.ca.Homepage.ForgotPassword@5e5792a0]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="fb9068">  <td>19/01/09 17:36:20</td>   <td>1646782</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Pagination.OpenBrowser()[pri:0, instance:com.webcorp.ca.SearchResultsPage.Pagination@6f7fd0e6]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="97cf78">  <td>19/01/09 17:37:37</td>   <td>1723959</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.OpenBrowser()[pri:0, instance:com.webcorp.ca.Homepage.Login@26653222]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="85796e">  <td>19/01/09 17:38:03</td>   <td>1749736</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;QuickViewAddToCart.OpenBrowser()[pri:0, instance:com.webcorp.ca.SearchResultsPage.QuickViewAddToCart@47c62251]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="a097cc">  <td>19/01/09 17:39:06</td>   <td>1812322</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;QuickViewCheckoutForGuest.OpenBrowser()[pri:0, instance:com.webcorp.ca.SearchResultsPage.QuickViewCheckoutForGuest@3e6fa38a]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="f6e879">  <td>19/01/09 17:39:54</td>   <td>1860742</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;QuickViewCheckoutForRegister.OpenBrowser()[pri:0, instance:com.webcorp.ca.SearchResultsPage.QuickViewCheckoutForRegister@66a3ffec]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="61f5df">  <td>19/01/09 17:41:17</td>   <td>1943809</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SearchBar.OpenBrowser()[pri:0, instance:com.webcorp.ca.SearchResultsPage.SearchBar@77caeb3e]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="b57a94">  <td>19/01/09 17:42:36</td>   <td>2022621</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SelectQtyForItem.OpenBrowser()[pri:0, instance:com.webcorp.ca.SearchResultsPage.SelectQtyForItem@1e88b3c]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="7be3c5">  <td>19/01/09 17:44:10</td>   <td>2117054</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SortByInSearchResultsPage.OpenBrowser()[pri:0, instance:com.webcorp.ca.SearchResultsPage.SortByInSearchResultsPage@42d80b78]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="b6d4ae">  <td>19/01/09 17:09:25</td>   <td>32046</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ChangingAttributeColor.SignIn()[pri:0, instance:com.webcorp.ca.SearchResultsPage.ChangingAttributeColor@3532ec19]">&gt;&gt;SignIn</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="abef66">  <td>19/01/09 17:12:43</td>   <td>229121</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AddToFavourites.SignIn()[pri:0, instance:com.webcorp.ca.favourites.AddToFavourites@604ed9f0]">&gt;&gt;SignIn</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>19/01/09 17:20:33</td>   <td>699120</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SubmitOrderFromProductDetailsPageForRegister.SignIn()[pri:0, instance:com.webcorp.ca.ProductDeatailsPage.SubmitOrderFromProductDetailsPageForRegister@1bce4f0a]">&gt;&gt;SignIn</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="7996a0">  <td>19/01/09 17:23:38</td>   <td>884611</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MyfavouriteDetails.SignIn()[pri:0, instance:com.webcorp.ca.favourites.MyfavouriteDetails@6a4f787b]">&gt;&gt;SignIn</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="6e8eef">  <td>19/01/09 17:25:37</td>   <td>1003172</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Checkout_Register.SignIn()[pri:0, instance:com.webcorp.ca.SearchResultsPage.Checkout_Register@ae45eb6]">&gt;&gt;SignIn</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>19/01/09 17:27:13</td>   <td>1100050</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SubmitOrderForRegisterUser.SignIn()[pri:0, instance:com.webcorp.ca.QuickOrderForm.SubmitOrderForRegisterUser@91161c7]">&gt;&gt;SignIn</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="dc63ce">  <td>19/01/09 17:27:57</td>   <td>1143493</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MyfavouritesList.SignIn()[pri:0, instance:com.webcorp.ca.favourites.MyfavouritesList@685cb137]">&gt;&gt;SignIn</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="f6e879">  <td>19/01/09 17:40:33</td>   <td>1899719</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;QuickViewCheckoutForRegister.SignIn()[pri:0, instance:com.webcorp.ca.SearchResultsPage.QuickViewCheckoutForRegister@66a3ffec]">&gt;&gt;SignIn</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="69b8da">  <td>19/01/09 17:24:40</td>   <td>946113</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClickAllLinks.test01()[pri:0, instance:com.webcorp.ca.Homepage.ClickAllLinks@61832929]">test01</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>19/01/09 17:32:54</td>   <td>1441043</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClickOnBannerAds.test02()[pri:0, instance:com.webcorp.ca.Homepage.ClickOnBannerAds@3ffc5af1]">test02</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>19/01/09 17:29:21</td>   <td>1227088</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClickOnAddToCart.test03()[pri:0, instance:com.webcorp.ca.Homepage.ClickOnAddToCart@29774679]">test03</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="75a3bc">  <td>19/01/09 17:16:14</td>   <td>440494</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CheckOutProcess.test04()[pri:0, instance:com.webcorp.ca.Homepage.CheckOutProcess@5b275dab]">test04</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="97cf78">  <td>19/01/09 17:38:00</td>   <td>1746561</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.test05()[pri:0, instance:com.webcorp.ca.Homepage.Login@26653222]">test05</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="61f5df">  <td>19/01/09 17:41:50</td>   <td>1976423</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchBar.test06()[pri:0, instance:com.webcorp.ca.SearchResultsPage.SearchBar@77caeb3e]">test06</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="f97bb5">  <td>19/01/09 17:29:45</td>   <td>1251979</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClickAllCategories.test07()[pri:0, instance:com.webcorp.ca.SearchResultsPage.ClickAllCategories@59f99ea]">test07</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="b7bfc0">  <td>19/01/09 17:17:09</td>   <td>495623</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CheckOutProcessSearchResultsPage.test08()[pri:0, instance:com.webcorp.ca.SearchResultsPage.CheckOutProcessSearchResultsPage@68c4039c]">test08</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="7be3c5">  <td>19/01/09 17:44:33</td>   <td>2139969</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SortByInSearchResultsPage.test09()[pri:0, instance:com.webcorp.ca.SearchResultsPage.SortByInSearchResultsPage@42d80b78]">test09</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="6e8eef">  <td>19/01/09 17:25:42</td>   <td>1008581</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Checkout_Register.test10()[pri:0, instance:com.webcorp.ca.SearchResultsPage.Checkout_Register@ae45eb6]">test10</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="85796e">  <td>19/01/09 17:38:37</td>   <td>1783396</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="QuickViewAddToCart.test11()[pri:0, instance:com.webcorp.ca.SearchResultsPage.QuickViewAddToCart@47c62251]">test11</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="a097cc">  <td>19/01/09 17:39:26</td>   <td>1832740</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="QuickViewCheckoutForGuest.test12()[pri:0, instance:com.webcorp.ca.SearchResultsPage.QuickViewCheckoutForGuest@3e6fa38a]">test12</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="f6e879">  <td>19/01/09 17:40:39</td>   <td>1905184</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="QuickViewCheckoutForRegister.test13()[pri:0, instance:com.webcorp.ca.SearchResultsPage.QuickViewCheckoutForRegister@66a3ffec]">test13</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>19/01/09 17:10:42</td>   <td>109052</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SubmitOrderFromProductDetailsPageForGuest.test14()[pri:0, instance:com.webcorp.ca.ProductDeatailsPage.SubmitOrderFromProductDetailsPageForGuest@3bfdc050]">test14</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>19/01/09 17:20:38</td>   <td>704489</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SubmitOrderFromProductDetailsPageForRegister.test15()[pri:0, instance:com.webcorp.ca.ProductDeatailsPage.SubmitOrderFromProductDetailsPageForRegister@1bce4f0a]">test15</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>19/01/09 17:11:34</td>   <td>160578</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddToCart.test16()[pri:0, instance:com.webcorp.ca.QuickOrderForm.AddToCart@5e3a8624]">test16</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="96a48d">  <td>19/01/09 17:22:16</td>   <td>802160</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SubmitOrderForGuest.test17()[pri:0, instance:com.webcorp.ca.QuickOrderForm.SubmitOrderForGuest@5c3bd550]">test17</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>19/01/09 17:27:19</td>   <td>1105444</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SubmitOrderForRegisterUser.test18()[pri:0, instance:com.webcorp.ca.QuickOrderForm.SubmitOrderForRegisterUser@91161c7]">test18</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="bbc1e0">  <td>19/01/09 17:34:06</td>   <td>1512081</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClickOnFilterByOptions.test19()[pri:0, instance:com.webcorp.ca.SearchResultsPage.ClickOnFilterByOptions@27efef64]">test19</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="fb9068">  <td>19/01/09 17:36:35</td>   <td>1662038</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Pagination.test20()[pri:0, instance:com.webcorp.ca.SearchResultsPage.Pagination@6f7fd0e6]">test20</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="7c74e5">  <td>19/01/09 17:35:56</td>   <td>1623056</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ForgotPassword.test21()[pri:0, instance:com.webcorp.ca.Homepage.ForgotPassword@5e5792a0]">test21</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="96f0f5">  <td>19/01/09 17:06:42</td>   <td>-131420</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CheckoutHomePageNationalAds.test22()[pri:0, instance:com.webcorp.ca.Homepage.CheckoutHomePageNationalAds@523884b2]">test22</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="b57a94">  <td>19/01/09 17:42:56</td>   <td>2042838</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SelectQtyForItem.test24()[pri:0, instance:com.webcorp.ca.SearchResultsPage.SelectQtyForItem@1e88b3c]">test24</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="b6d4ae">  <td>19/01/09 17:09:31</td>   <td>37565</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangingAttributeColor.test25()[pri:0, instance:com.webcorp.ca.SearchResultsPage.ChangingAttributeColor@3532ec19]">test25</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="abef66">  <td>19/01/09 17:12:48</td>   <td>234522</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddToFavourites.test26()[pri:0, instance:com.webcorp.ca.favourites.AddToFavourites@604ed9f0]">test26</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="dc63ce">  <td>19/01/09 17:28:02</td>   <td>1148895</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MyfavouritesList.test27()[pri:0, instance:com.webcorp.ca.favourites.MyfavouritesList@685cb137]">test27</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="7996a0">  <td>19/01/09 17:23:43</td>   <td>890010</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MyfavouriteDetails.test28()[pri:0, instance:com.webcorp.ca.favourites.MyfavouriteDetails@6a4f787b]">test28</td> 
  <td>main@1458540918</td>   <td></td> </tr>
</table>
