<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a583f8">  <td>19/01/09 17:00:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;QuickViewAddToCart.OpenBrowser()[pri:0, instance:com.webcorp.ca.SearchResultsPage.QuickViewAddToCart@3712b94]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1543237999</td>   <td></td> </tr>
<tr bgcolor="a583f8">  <td>19/01/09 17:01:15</td>   <td>16405</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="QuickViewAddToCart.test11()[pri:0, instance:com.webcorp.ca.SearchResultsPage.QuickViewAddToCart@3712b94]">test11</td> 
  <td>main@1543237999</td>   <td></td> </tr>
<tr bgcolor="a583f8">  <td>19/01/09 17:01:40</td>   <td>42245</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;QuickViewAddToCart.CloseBrowser()[pri:0, instance:com.webcorp.ca.SearchResultsPage.QuickViewAddToCart@3712b94]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1543237999</td>   <td></td> </tr>
</table>
